@import url('https://fonts.googleapis.com/css2?family=Foldit&family=Nanum+Gothic&family=Roboto:wght@400;700&family=Shadows+Into+Light&family=Smokum&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  background: linear-gradient(to bottom, #b297f1, #752f2f);
  background-attachment: fixed;
}

img {
  width: 250px;
}

.slideshow-container {
  max-width: 500px;
  position: relative;
  margin: auto;
}

/* Make the images invisible by default */
.containers {
  display: none;
}

/* forward & Back buttons */
.arrow {
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  padding: 10px;
  color: white;
  font-weight: bold;
  font-size: 24px;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  text-align: center;
  line-height: 1.2;
  transition: background-color 0.3s ease;
}

/* Place the "forward button" to the right */
.arrow.forward {
  right: 0;
}

.arrow.back {
  left: 0;
}

/*when the user hovers,add a black background with some little opacity */
.arrow:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.div-dots {
  margin: 40px;
}

/* The circles or bullets and indicators */
.dots {
  cursor: pointer;
  height: 16px;
  width: 16px;
  margin: 0 3px;
  background-color: #acc;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.5s ease;
}

.enable,
.dots:hover {
  background-color: #717161;
}

/* Faint animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.4s;
  animation-name: fade;
  animation-duration: 1.4s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 2;
  }
}

@keyframes fade {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 2;
  }
}

.book {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 600px;
}

.quote {
  text-align: center;
  margin-top: 10px;
  width: 50%; /* Adjust the width to control the space between book and quote */
}

#naked-quote-display,
#glory-quote-display,
#quote-display {
  color: rgb(0, 0, 0); /* Change this color to the desired font color */
  padding: 20px;
}

.fade-in {
  animation: fade-in 3s ease-in-out;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
