@import url('https://fonts.googleapis.com/css2?family=Foldit&family=Nanum+Gothic&family=Roboto:wght@400;700&family=Shadows+Into+Light&family=Smokum&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(to bottom, #fdc5c5, #752f2f);
    background-attachment: fixed;
}

img {
    width: 250px;
}

.title {
    font-family: 'Roboto', sans-serif;
    font-size: 48px;
    text-align: center;
    margin-bottom: 20px; /* Add some space below the title */
}

.container {
    /* display: flex;
    align-items: center;
    justify-content: center; */
    background-color: rgba(0, 0, 0, 0.3); /* Use rgba for semi-transparent background */
    padding: 20px;
}

.book {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 600px;
}

.quote {
    text-align: center;
    margin-top: 10px;
    width: 50%; /* Adjust the width to control the space between book and quote */
}

#naked-quote-display,
#glory-quote-display,
#quote-display {
    color: rgb(0, 0, 0); /* Change this color to the desired font color */
    padding: 20px;
}
