{% extends 'base.html' %}
{% block title %}Home Page{% endblock %}
{% block content %}

<div class="slideshow-container fade">
    <div class="container">
        <div class="book">
            <div class="cover">
                <h2>Book 1</h2>
                <img src="https://m.media-amazon.com/images/I/71g8IPfxrTL._AC_UF1000,1000_QL80_.jpg">
            </div>
            <div class="quote">
                <div id="naked-quote-display"></div>
            </div>

        </div>
    </div>

    <div class="container">
        <div class="book">
            <div class="cover">
                <h2>Book 2</h2>
                <img src="https://m.media-amazon.com/images/I/71gd5NWedEL.jpg">
            </div>
            <div class="quote">
                <div id="glory-quote-display"></div>
            </div>

        </div>
    </div>

    <div class="container">
        <div class="book">
            <div class="cover">
                <h2>Book 3</h2>
                <img src="https://m.media-amazon.com/images/I/71mxmpTf+vL._AC_UF1000,1000_QL80_.jpg">
            </div>
            <div class="quote">
                <div id="immortal-quote-display"></div>
            </div>

        </div>
    </div>

    <div class="container">
        <div class="book">
            <div class="cover">
                <h2>Book 4</h2>
                <img src="https://m.media-amazon.com/images/I/41pZHAvY29L._SY346_.jpg">
            </div>
            <div class="quote">
                <div id="rapture-quote-display"></div>
            </div>

        </div>
    </div>

</div>

<!-- Back and forward buttons -->
<a class="arrow back" onclick="plusSlides(-1)">&#10094;</a>
<a class="arrow forward" onclick="plusSlides(1)">&#10095;</a>

<div class="div-dots" style="text-align:center">
    <span class="dots" onclick="currentSlide(1)"></span>
    <span class="dots" onclick="currentSlide(2)"></span>
    <span class="dots" onclick="currentSlide(3)"></span>
    <span class="dots" onclick="currentSlide(4)"></span>
</div>

{% endblock %}